click==8.0.3
colorama==0.4.4
dnspython==2.1.0
Flask==2.0.2
Flask-Cors==3.0.10
gunicorn==20.1.0
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
minecraft-data==2.100.0
NBT==1.5.1
opencv-python==4.5.5.62
pymongo==4.0.1
python-dotenv==0.19.2
six==1.16.0
typing_extensions==4.0.1
Werkzeug==2.0.2
zipp==3.7.0
