body {
  font-family: "Roboto", sans-serif;
  /* background-color: lightcoral !important; */
  background-color: #AFAFAF !important;
}

#redstone-labs {
  font-size: x-large;
}

.container-fluid {
  background-color: white;
}

textarea {
  resize: none !important;
}

.CodeMirror {
  border: 2px solid black;
}

.img-container {
  padding: 4px;
  border: 2px solid black;
}

footer {
  background-color: white;
}